{% extends "base.html" %}
{% block title %}Notes{% endblock %}
{% block content %}
  <h2>All Notes</h2>
  <p><a class="button" href="{% url 'upload_note' %}">Upload more</a></p>

  {% if structure %}
    {% for year, depts in structure.items %}
      <h3>{{ year }}</h3>
      {% for dept, sections in depts.items %}
        <h4>{{ dept }}</h4>
        {% for section, subjects in sections.items %}
          <h5>Section {{ section }}</h5>
          {% for subject, notes in subjects.items %}
            <h6>{{ subject }}</h6>
            <ul>
              {% for note in notes %}
                <li>
                  Unit {{ note.unit_number }} —
                  <a href="{% url 'view_note_web' note.id %}" target="_blank">View</a>
                  | <a href="{{ note.file.url }}" download>Download</a>
                  ({{ note.uploaded_by.username }} - {{ note.uploaded_at|date:"d M Y, H:i" }})
                </li>
              {% endfor %}
            </ul>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  {% else %}
    <p>No notes yet.</p>
  {% endif %}
{% endblock %}

